body
{
	background-color: #FFFFE8;
	color:#336699;
	font-family:tahoma;
}

A
{
	color: #336699
}

.NewSearchLink
{
	color: #336699;
	font-size:90%;
}

.labels
{
	font-weight: 700;
	margin-top:5px;
	margin-bottom:5px;
}

img
{
	text-align: left;
}

.PageHeaderImage
{
	text-align: left;
	border: 0;
	width:84px;
	height:120px;
} 

#MapTable 
{
	border:1px solid #336699;
	border-collapse: collapse; 
	/*	margin-left: auto;
	margin-right: auto;  */
}

#LegendTable
{	vertical-align:top;
	font-size: 90%;
	padding-left:10px;
	padding-top:10px;
}


/*Map Table Cells*/

#MapCell
{
	border:1px solid #336699;
}

#HeaderCell
{
	font-size: 140%;
	text-align:center; 
	vertical-align:middle;
	font-weight: bold;
	padding-top:10px;
	padding-bottom: 10px;
}

#ButtonsCell
{
	text-align: left;
	vertical-align:bottom;
	padding-left:5px;
	font-size: 90%;
}

#ButtonHelpCell
{
	vertical-align:top;
	text-align: left;
	font-size: 80%;
	font-weight: bold;
	padding-left:5px;
}

#LatLongCell
{
	font-size: 80%;
	text-align: right;
	vertical-align:middle;
	color:#336699;
	font-family:tahoma;
	padding-right:5px;
}

#ScaleBarCell
{
	border-bottom:1px solid #336699; 
	text-align: center;
}

#Legend
{
	vertical-align:top;
	font-size: 90%;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
}

#LayersCell
{
	padding-top:10px;
	padding-left:10px;
	font-size: 90%;
	vertical-align:top;
	border-left:1px solid #336699;
}

#MapSmallCell
{
	vertical-align:top;
	text-align: left;
	border-left:1px solid #336699;
}

#EmptyCell
{
}

#CopyrightCell
{
	border-top:1px solid #336699;
	font-size: 60%; 
	text-align: center;
	padding-bottom:5px;
	padding-top:5px;
}

#FooterCell
{
	font-size: 65%; 
	text-align: left;
	margin: 1px;
}

.FootnoteNumber
{
	vertical-align: super; 
	font-size:90%; 
	color: green;
}

#xHairV
{
	position: absolute;
	width: 0;
	z-index: 1;
	border-left: 1px dashed #7f7f7f;
	border-top: 0px dashed #e0e0e0;
	border-right: 0px dashed #e0e0e0; 
}

#xHairH
{
	position: absolute;
	height: 0;
	z-index: 2;
	border-left: 0px dashed #e0e0e0;
	border-top: 1px dashed #7f7f7f;
	border-right: 0px dashed #e0e0e0; 
}

#rubberBand
{
	top: 0px;
	left: 0px;
	z-index:3;
	visibility: hidden;
	width: 0px; 
	height: 0px;
	border: 2px dashed #ff0000;
	position: absolute;
}

/*Query results styles */

#MasterTable
{
	width: 80%;
	padding-top:2px;
	padding-bottom:2px;
}

#LinksTable
{
	width: 25%;
	font-size:12px;
}

#ResultsTable
{
	width:100%; 
	border-collapse: collapse;
	font-size:12px;
	padding-top:1px;
	padding-bottom:1px;
}

#QueryHeaderCell
{
	border:1px solid #336699;
	text-align:center;
	color:#FFFFE8;
	background-color: #336699;
	font-weight: bold;
	padding-top:4px;
	padding-bottom: 4px;
}

#QueryTextCellEven
{
	background-color: #FFFFFF;
}

#QueryCell
{
	border:1px solid #336699;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:10px;
}

.QueryHref
{
	color: #336699;
	font-size: 110%;
}

#QueryText
{
	color: #336699;
}

#QueryHeaderCellImage
{
	vertical-align: top;
}

#QueryHeaderCellText
{
	vertical-align: top;
	font-size:120%;
	font-weight: 700;
}

#QueryCopyrightCell
{
	font-size: 60%; 
	text-align: center;
}
